.mypage-container {
    margin-top: 20px;
    text-align: center
}
.mypage-pannel {
    display: inline-block;
    margin-top: 5px;
}
.mypage-header-pannel {
    font-size: 25px;
    margin-left: 5px;
    text-align: left;
}

.mypage-child-pannel{
    margin-top: 25px;
}

.mypage-table{
    font-family: arial, sans-serif;
    border-top:2px solid grey;
    border-collapse: collapse;
    width: 100%;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th{
    background-color: #eef1f8;
    text-align: left;
    white-space: nowrap;
    padding:14px 30px;
    border-bottom: 1px solid #ddd;
}
td{
    border-left: 1px solid grey;
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 10px 6px 10px 10px;
}
.usermodify-password td{
    border-left: 0;
    padding: 0;
    border-bottom: white;
    text-align: left;
}
.usermodify-password th {
    font-weight: normal;
    border-bottom: white;
    padding: 10px 6px 10px 0;
    background-color: #fff;
    white-space: nowrap;
    width: 1%;
}
.usermodify-password-notice{
    font-size: 12px;
}