.managerinfo-container {
    margin-top: 20px;
    text-align: center;
}
.managerinfo-pannel {
    display: inline-block;
    margin-top: 5px;
}
.managerinfo-header-pannel{
    font-size: 25px;
    margin-top: 5px;
    text-align: left;
}
.managerinfo-child-pannel {
    margin-top: 25px;
}

.managerinfo-table{
    font-family: arial, sans-serif;
    border-top:2px solid grey;
    border-collapse: collapse;
    width: 100%;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th{
    width: 85px;
    background-color: #eef1f8;
    text-align: left;
    white-space: nowrap;
    padding:14px 30px;
    border-bottom: 1px solid #ddd;
}
td{
    width: 220px;
    border-left: 1px solid grey;
    border-bottom: 1px solid #ddd;
}