.container{
  margin: auto;
  width: 75%;
  padding-top: 50px;
  .wrapper{
    padding-bottom: 50px;
    .datewrapper{
      position: relative;
      .date {
        margin-left: 44%;
        margin-right: 44%;
        border-radius: 100px;
        border: 2px solid rgb(146, 142, 142);
        text-align: center;
        font-size: 20px;
        position: relative;
        background: white;
        z-index: 1;
      }
      .dateline {
        border-top: 2px solid rgb(146, 142, 142);;
        width: 100%;
        position: absolute;
        top: 15px;
      }
    }

    .ordercheckwrapper {
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
      .table {
        width: 100%;
        border-spacing: 0;
        td {
          border-bottom: 1px solid rgb(182, 175, 175);
          padding-bottom: 15px;
        }
        .text {
          text-align: center;
        }
        ul {
          list-style: none;
          li {
            padding: 10px;
          }
        }    
      }
    }
  }
}