<div class="container">
    <div class="wrapper">
      <div *ngFor="let date of datelist;">
        <div class="datewrapper">
          <div class="date">
            <span>{{date}}</span>
          </div>
          <div class="dateline">
          </div>
        </div>
        <div class="ordercheckwrapper">
          <table class="table">
            <div *ngFor="let ordercheck of orderchecklist;" >
              <tr *ngIf="date===ordercheck.paymentdate;">
                <td width="10%" class="text">{{ordercheck.name}}</td>
                <td width="40%">
                  <ul>
                    <li *ngFor="let orderp of ordercheck.orderp">
                      <span style="padding-right: 30px;">{{orderp.name}}</span>
                      <span>{{orderp.amount}} 개</span>
                      <span style="float: right;">{{orderp.amount*orderp.price}} 원</span>
                    </li>
                  </ul>
                </td>
                <td width="20%" class="text">
                  <p>총 금액</p>
                </td>
                <td width="20%" class="text">
                  <p>구매일</p>
                </td>
                <td width="10%" class="text">
                  <p>입금상태</p>
                  <p>{{ordercheck.paymentstate}}</p>
                </td>
              </tr>
            </div>
          </table>
        </div>
      </div>
    </div>
  </div>