exchangereturn-form{
    .orderwrapper{
      width: 80%;
      .invoice-head {
        display: flex;
      }
      .invoice-body {
        display: flex;
      }
      .invoice-tailhead{
        display: flex;
      }
      .invoice-tailbody {
        display: flex;
      }
    }
}