notice-form{
  .container {
    width: 100%;
    padding-top: 130px;
    .wrapper {
      width: 70%;
      margin: auto;
      .noticetitle {
        margin-bottom: 40px;
        input {
          width: 70%;
          margin-left: 61px;
          height: 34px;
          border: 2px solid;
          font-size: 20px;
        }
      }
    }
  }
}