<div class="container">
  <div class="wrapper">
    <div *ngFor="let date of datelist;">
      <div class="datewrapper">
        <div class="date">
          <span>{{date}}</span>
        </div>
        <div class="dateline">
        </div>
      </div>
      <div class="refundwrapper">
        <table class="table">
          <div *ngFor="let refund of refundlist;" >
            <div *ngIf="date===refund.date;">
              <tr>
                <td width="10%" class="text">{{refund.name}}</td>
                <td width="40%">
                  <ul>
                    <li></li>
                    <li *ngFor="let product of refund.refundproduct">
                      <span style="padding-right: 30px;">{{product.name}}</span>
                      <span>{{product.amount}} 개</span>
                      <span style="float: right;">{{product.amount*product.price}} 원</span>
                    </li>
                  </ul>
                </td>
                <td width="20%" class="text">
                  구매일
                </td>
                <td width="20%" class="text">
                  <p>반품/환불 신청일</p>
                  <p>{{refund.date}}</p>
                </td>
                <td width="10%" *ngIf="checkcomplete(refund.complete)">
                  <p>반품/환불상태</p>
                  <p>{{complete}}</p>
                </td>
            </tr>
            <tr class="cause">
              <td colspan="5">
                <span>반품/환불사유</span><span>{{refund.cause}}</span>
              </td>
            </tr>
          </div>
          </div>
        </table>
      </div>
    </div>
  </div>
</div>