
<div class="daum-map-container">

    <!-- form-panel -->
    <div class="form-panel">
  
      <!-- label-panel -->
      <div class="label-panel">
        <h2>주소 찾기</h2>
  
        <!-- btn-close -->
        <div class="btn-close"
             (click)="dismiss()">
          <i class="material-icons">close</i>
        </div>
        <!-- // btn-close -->
  
      </div>
      <!-- // label-panel -->
  
      <!-- content-panel -->
      <div class="content-panel">
  
        <h3>지명 또는 주소로 검색해주세요.</h3>
  
        <!-- search-panel -->
        <div class="search-panel">
          <form>
  
            <div class="input-panel">
              <md-input-container>
                <input mdInput
                       type="text"
                       name="searchKeyword"
                       placeholder="지명 또는 주소를 입력"
                       autocomplete="off"
                       [ngModel]="searchKeyword"
                       (ngModelChange)="searchAddress($event)">
              </md-input-container>
            </div>
  
          </form>
  
          <!-- search-result-panel -->
          <div class="search-result-panel"
               *ngIf="searchResults.length != 0">
  
            <!-- item-panel -->
            <div class="item-panel"
                 *ngFor="let place of searchResults"
                 (click)="setPlace(place)">
              <i class="material-icons">location_on</i>
              <span>{{place.address}} ({{place.title}})</span>
            </div>
            <!-- // item-panel -->
  
          </div>
          <!-- // search-result-panel -->
  
        </div>
        <!-- // search-panel -->
  
      </div>
      <!-- // content-panel -->
  
      <!-- btn-panel -->
      <div class="btn-panel">
        <button class="btn-confirm"
                (click)="dismiss()">
          <span>확인</span>
        </button>
      </div>
      <!-- // btn-panel -->
  
    </div>
    <!-- // form-panel -->
  
  </div>