modal-overlay {
  background-color: rgba(0, 0, 0, 1);
}

.cdk-overlay-dark-backdrop{
  background-color: rgba(0, 0, 0, 1) !important;
}

md-dialog-container{
  max-width: inherit !important;
}

css-backdrop.vex-overlay {
  background-color: transparent;
}


.vex.vex-theme-flat-attack .vex-dialog-form .vex-dialog-buttons {
  padding: 0;
  padding-top: 0;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.vex.vex-theme-flat-attack .vex-close:before {
  background-color: white;
  color: #666;
}