<div class="container">
  <div class="sidenav">
    <ul class="sidenavlist">
      <li><a href="#puppytoy">강아지 장난감</a></li>
      <li><a href="#cattoy">고양이 장난감</a></li>
      <li><a href="#puppyfood">강아지 사료</a></li>
      <li><a href="#catfood">고양이 사료</a></li>
    </ul>
  </div>
  <div class="productcontainer" >
    <div id="puppytoy">
      <div class="productlist">
        <h2>강아지 장난감</h2>
        <div *ngFor="let product of products;" 
            class="eachproduct" >
          <div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmvdr5QUNSt3u-QBv5r_WYvSl92EtOCG5gKVbzZEjklxdhl6keyA" alt="상품" class="productimg">
          </div>
          <div class="product-info">
            <div><span> 상품명 : {{product.name}} </span></div>
            <div><span> 가격   : {{product.price}} </span></div>
          </div>
          
          <div class="product-order-num">
            <span>수량</span><br>
            <input type="text" placeholder="0" (keyup)="nose11($event)"/>
          </div>
          <div class="detail-cart-btn">
            <button>상세정보</button>
            <button (click)="test(product.name,product.price)">담기</button>
          </div>
        </div>  
      </div>
    </div>
  </div>
  <div id="ordernav">
    <p> </p>
    <div *ngFor="let nose of nose1; let idx = index"
        class="orderproduct" >
      <span>{{nose.name}} : {{nose.amount}} 개</span><button (click)="del_order(idx)">X</button>
    </div>
    <div>
      <button (click)="pay()" class="pay-btn-class">결제하기</button>
    </div>
  </div>
</div>