.container{
  width: 100%;
  .wrapper {
    margin-left: 550px;
    .each-w {
      display: flex;
      padding: 20px;
      .label-w {
        text-align: left;
        width: 10%;
      }
      .input-w {
        width: 60%;
        input {
          width: 300px;
          height: 20px;
        }
      }
    }
  }
}