<div *ngIf="check=='false'">
    <div class="auth-container">
        <div class="auth-pannel">
            <div class="auth-header-pannel">회원정보 확인</div>
            <p>
                {{this.appService.user.identifier}} 님의 정보를 안전하게 보호하기 위해 비밀번호를 다시 한번 확인 합니다.
            </p>
            <div class="auth-child-pannel">
                <div class="auth-child">
                    <table class="auth-table">
                        <tbody>
                            <tr>
                                <th>아이디</th>
                                <td>{{this.appService.user.identifier}}</td>
                            </tr>
                            <tr>
                                <th>비밀번호</th>
                                <td>
                                    <input class="auth-password"
                                     type="password"
                                     [(ngModel)]="loginInfo.password"
                                     ng-pattern="/^.*(?=^.{8,12}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[*~`!^\-_+@\#$%&\=\(\)]).*$/">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="confirm">
                    <button class="btn-confirm"
                     type="submit"
                     (click)="login()"
                     >확인</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="check=='True'">
        <mypage></mypage>
</div>    