<div *ngIf="name!=''">
  <div class="nav-wrapper">
    <div>
      <img src="http://cfile1.uf.tistory.com/image/991F033359C857681DE51B">
    </div>
    <div class="log">
     {{name}}   <button (click)="logout()">로그아웃</button>
    </div>
    <div class="topnav">
      <ul class="topnavlist" *ngIf="auth">
        <li class="topnavlink"  routerLink="/notice" ><a routerLink="/notice"><span>공지사항</span></a></li>
        <li class="topnavlink"  routerLink="/ordercheck"><a routerLink="/ordercheck"><span>상품발주내역확인</span></a></li>
        <li class="topnavlink"  routerLink="/product"><a routerLink="/product"><span>상품정보</span></a></li>
        <li class="topnavlink"  routerLink="/exchangerefundmanage"><a routerLink="/exchangerefundmanage"><span>교환/반품관리</span></a></li>
        <li class="topnavlink"><a routerLink="/shop"><span>유저관리</span></a></li>
        <li class="topnavlink"><a routerLink="/servicecenter"><span>고객센터</span></a></li>
      </ul>
      <ul class="topnavlist" *ngIf="!auth">
        <li class="topnavlink"  routerLink="/notice" ><a routerLink="/notice"><span>공지사항</span></a></li>
        <li class="topnavlink"  routerLink="/product"><a routerLink="/product"><span>상품발주</span></a></li>
        <li class="topnavlink"  routerLink="/order"><a routerLink="/order"><span>주문/배송확인</span></a></li>
        <li class="topnavlink"><a routerLink="/board"><span>정보게시판</span></a></li>
        <li class="topnavlink"><a routerLink="/servicecenter"><span>고객센터</span></a></li>
      </ul>
    </div>
  </div>
</div>
