.top{
  display: flex;
  justify-content: center;
  .top-icon{
    padding-top: 25px;
    img{
      width: 200px;
    }
  }
  .top-title{
    text-align: center;
    font-size: 100px;
    color: black;
    margin-left: 50px;
  }
}