<div id="notice-board-wrapper">
  <div class="head">
    <h2>공지사항</h2>
    <div>
      <button *ngIf="auth" class="write"
              (click)="openNoticeFormModel()"
      >글쓰기</button>
    </div>
  </div>
  <div class="notice-board-container">
    <table class="table">
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>등록일</th>
      </tr>
      <tr *ngFor="let notice of options.noticelist;">
        <td>{{notice.no}}</td>
        <td class="noticetitle"><a (click)="opendetail(notice)" routerLink="/noticedetail" >{{notice.title}}</a></td>
        <td>{{notice.createdAt | date:"yyyy.MM.dd"}}</td>
      </tr>
    </table>
    <div class="grid-footer-panel" [style.height]="options.footerHeight">
      <pager
        [pagerLeftArrowIcon]="options.pagerLeftArrow"
        [pagerRightArrowIcon]="options.pagerRightArrow"
        [pagerPreviousIcon]="options.pagerPrevious"
        [pagerNextIcon]="options.pagerNext"
        [page]="options.page"
        [size]="options.limit"
        [count]="options.count"
        (change)="getNoticeList($event)">
      </pager>
    </div>
  </div>
</div>